.values__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .value__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: $secondary-bg-color;
    margin-bottom: 30px;
  }

  .value__image {
    display: inline-block;
    width: 70px;
    height: 70px;
    stroke-width: 0;
  }
}

@media screen and (max-width: 767px) {
  .values__list {
    justify-content: center;
  }

  .value__card {
    width: 100%;
  }
  .value__item {
    width: calc(100% - 30px);
    padding: 15px 0;
  }
}

@media screen and (min-width: 768px) {
  .values__list {
    justify-content: space-between;
  }

  .value__card {
    width: 100%;
  }
  .value__item {
    width: calc(100% / 2 - 15px);
    padding: 15px 0;
  }
}

@media screen and (min-width: 1200px) {
  .values__list {
    justify-content: space-between;
  }

  .value__item,
  .value__card {
    width: 270px;
  }
  .value__item {
    padding: 0;
  }
}
